@model Padaria.Web.Models.RecieveCreditViewModel

<div class="modal" id="modal_recieveCredit" data-backdrop="static">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="text-align:center">Recieve credit</h4>
            </div>


            <hr />
            <div class="col-lg-12 modal-body">
                <div>
                    <h2 style="color:red">Value to be credited: $ @Model.Value.ToString("N2") </h2>
                </div>
                <div>
                    <b> @Html.DisplayNameFor(c => c.CustomerName) </b>
                    @Html.TextBoxFor(expression: c => c.CustomerName, htmlAttributes: new { @class = "form-control" })
                </div>
                <br />
                <div id="tblCredit">
                    <table class="table">
                        <tr>

                            <th>@Html.DisplayName("Nome")</th>
                            <th>@Html.DisplayName("Phone")</th>
                            <th>@Html.DisplayName("CPF")</th>
                            <th></th>
                        </tr>

                        @foreach (var customer in Model.Customer)
                        {
                            <tr>
                                <td>@Html.DisplayFor(c => customer.Name)</td>
                                <td>@Html.DisplayFor(c => customer.Phone)</td>
                                <td>@Html.DisplayFor(c => customer.CPF)</td>
                                <td><a class="btn btn-default" id="btnCredit" onclick="completeCredit(@customer.CustomerID)">Select</a></td>
                            </tr>
                        }

                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnPayCredit">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function  () {
        $('#CustomerName').css('text-align','center');
    });

    $('button').click(function (e) {
        e.preventDefault();
        $('.modal').modal('hide');
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
        $('.modal-backdrop.in').remove();

    })


    $('#CustomerName').keyup(function (e) {
        debugger;
        var customer = $('#CustomerName').val();
        $.ajax({
            url:"/Customer/GetCustomerByName",
            type:"Get",
            datatype:"html",
            data:{customerName:customer},
            success:function (data) {
                $('#tblCredit').empty();
                $('#tblCredit').html(data);
              
            },error:function () {
                alert('Error in keyup CustomerName');
            }




        });
    });

    function ClearFieldsInPayCredit() {
        debugger;
        $.ajax({
            url: "/PayBox/FinishSale",
            type: "Get",
            datatype: "html",
            data: { "typeOfPayment": 0 },
            success: function (data) {
                $('#modal').modal('show');
                $('#txt').text("Sale completed successfully.");

                $("#btn").click(function () {
                    $(location).attr('href', '/PayBox/PayBox')
                });

            }
        });
    }
    function completeCredit(customerID) {
        debugger;
        var value = @Model.Value;
        $.ajax({
            url:"/Credit/Create",
            type:"Get",
            datatype:"json",
            data:{CustomerID:customerID,Value:value},
            success:function (data) {
                alert('Credit successfully assigned');
                $('.modal').modal('hide');
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                $('.modal-backdrop.in').remove();
                ClearFieldsInPayCredit();

            },error:function () {
                alert(error);
            }

        });
    }
</script>