@model IEnumerable<Padaria.Web.Models.InsertProductViewModel>




<table class="table" id="tbl">
    @*@Html.AntiForgeryToken();*@
    <thead>
        <tr style="background-color:yellow; text-align:center">

            <td></td>
            <td>

            <td></td>


            <td></td>
            <td></td>
            <td>
                <b id="valueFull">Full Value $ @Model.Sum(c => c.FullSale)</b>
            </td>
        </tr>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Code)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Product.PurchasePrice)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Product.SalePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullSale)
            </th>
            <th>

            </th>
        </tr>
    </thead>


    <tbody>
        @foreach (var item in Model)
        {

            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.SalePrice)
                </td>
                <td>

                    @if (item.ByWeight == true)
                    {
                        if (item.Quantity < 1000)
                        {
                            @Html.Raw("0,");  @Html.DisplayFor(modelItem => item.Quantity); @Html.Raw("kg");
                        }
                        else if (item.Quantity <= 9999)
                        {
                            var number = item.Quantity.ToString().Substring(0, 1);
                            var w = item.Quantity.ToString().Length;
                            var finalNumber = item.Quantity.ToString().Substring(1, w - 1);
                            number += "." + finalNumber + "kg";
                            @Html.DisplayFor(modelItem => number)


                        }
                        else if (item.Quantity > 9999)
                        {
                            var number = item.Quantity.ToString().Substring(0, 2);
                            var w = item.Quantity.ToString().Length;
                            var finalNumber = item.Quantity.ToString().Substring(1, w - 2);
                            number += "." + finalNumber + "kg";
                            @Html.DisplayFor(modelItem => number)
                        }

                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Quantity) @Html.Raw("x");
                    }



                </td>
                <td>
                    $ @Html.DisplayFor(modelItem => item.FullSale)
                </td>
                <td>
                   
                    <input type="button" value="Delete" class="btn btn-danger" id="btnRemoveItens" onclick="deleteItens(@item.Product.ProductID,@item.Quantity)"/>
                   
                </td>             

            </tr>

        }

    </tbody>


</table>

<script type="text/javascript">

    
    $(document).ready(function () {
        $('#dTbl').css('max-height', '400px');
        $('#dTbl').css('overflow', 'auto');
        $("th").css('text-align', 'center');
        $("td").css('text-align', 'center')
    });
    function deleteItens(productID,quantity) {
       
        $.ajax({
            url: "DeleteProductInCommand",
            datatype: "json",
            type: "Get",
            data: {productID: productID,quantity: quantity},
            success: function (data) {  
                if (data.result == true) {
                    $("#dTbl").load("GetCurrentViewList");      
                }                       
            }, error: function () {
                alert("Error");
            }


        });
    }
   

</script>