@model Padaria.Web.Models.PayBoxViewModel

@{
    ViewBag.Title = "PayBox";
}

<div class="col-lg-3">
    @*<script src="~/Scripts/jquery-2.1.4.js"></script>*@
    @using (Html.BeginForm(actionName: null, controllerName: null, method: FormMethod.Get, routeValues: null, htmlAttributes: new { id = "my-form" }))
    {
        <br />
        <br />
        <br />
        <div class="form-horizontal">


            <h4 style="text-align:center">Control</h4>
            <hr />
            <div class="form-group">
                @Html.DisplayNameFor(c => c.ControlsCode)
                @Html.TextBoxFor(c => c.ControlsCode, htmlAttributes: new { @class = "form-controla" })
                @Html.ValidationMessageFor(c => c.ControlsCode, null, htmlAttributes: new { @class = "text-danger" })

            </div>

            <h4 style="text-align:center">Product</h4>
            <hr />
            <div class="form-group form-horizontal form-inline">
                @Html.DisplayNameFor(c => c.Quantity)
                @Html.TextBoxFor(c => c.Quantity, htmlAttributes: new { @class = "form-controla" })
                @Html.ValidationMessageFor(c => c.Quantity, null, htmlAttributes: new { @class = "text-danger" })

                @Html.DisplayNameFor(c => c.Product.Code)
                @Html.TextBoxFor(c => c.Product.Code, htmlAttributes: new { @class = "form-controla" })
                @Html.ValidationMessageFor(c => c.Product.Code, null, htmlAttributes: new { @class = "text-danger" })
            </div>
            <h4 style="text-align:center">Payment</h4>
            <hr />
            <div class="form-group form-horizontal">
                @Html.DisplayNameFor(c => c.TypeOfPayment)
                @Html.DropDownListFor(c => c.Sale.TypeOfPaymentID, Model.TypeOfPayment, htmlAttributes: new { @class = "form-controla" })

                @Html.DisplayNameFor(c => c.ValuePaid)
                @Html.TextBoxFor(c => c.ValuePaid, htmlAttributes: new { @class = "form-controla" })
                <b>
                    @Html.DisplayNameFor(c => c.Transshipment)
                    @Html.TextBoxFor(c => c.Transshipment, htmlAttributes: new { @class = "form-controla", @readonly = true, @style = "background-color:yellow" })
                </b>
                <br />
                <a href="#" class="btn btn-primary" style="width:100%">Save Sale</a>


            </div>

        </div>





        @Html.Partial(partialViewName: "Alert")
    }
</div>
<div class="col-lg-9">
    <br />
    <br />
    <br />
    <div class="form-horizontal">
        <div class="form-group form-horizontal">

            @*@Html.DisplayNameFor()
                @Html.TextBoxFor(, htmlAttributes: new { @class = "form-controla" })*@
        </div>
    </div>
    <h4 style=" text-align:center">
        Products in Control
    </h4>
    <hr />
    <div id="dTbl">



    </div>
</div>



<script type="text/javascript">

    $(document).ready(function () {

        $('#footer').hide();
        $('#Quantity').val("1");
        $('#Transshipment').val("");
        $('#ValuePaid').val("");

        $('.btn.btn-primary').attr("disabled", true);
        focusInTxtGetControl();

    });

    $('select').on('change', function () {
        switch (($("select option:selected").text())) {
            case "Money":
                ClearAllFields();
                ShowFieldRelatedWithMoneyPayment();
                $.ajax({
                    url: "/PayBox/GetQuantityProduct",
                    type: "Get",
                    datatype: "json",
                    data: {},
                    success: function (data) {
                        focusInTxtValuePaid();
                        if (data.Number > 0) {
                            $('.btn.btn-primary').attr("disabled", false);
                        }
                        else {
                            $('.btn.btn-primary').attr("disabled", true);
                        }
                    }



                });

                break;
            case "Check":
                $('.btn.btn-primary').attr("disabled", false);
                HideFieldRelatedWithMoneyPayment();
                break;
            case "Spun":
                $('.btn.btn-primary').attr("disabled", false);
                HideFieldRelatedWithMoneyPayment();
                break;
            default:

        }

    });
    function focusInTxtValuePaid() {
        $('#ValuePaid').focus();
    }
    function ClearAllFields() {
        $('#ValuePaid').val('');
        $('#Transshipment').val('');
    }
    function HideFieldRelatedWithMoneyPayment() {
        debugger;
        var ids = ['#ValuePaid', '#Transshipment'];
        ids.forEach(function (index) {

            $(index).hide();
        });
    }
    function ShowFieldRelatedWithMoneyPayment() {
        debugger;
        var ids = ['#ValuePaid', '#Transshipment'];
        ids.forEach(function (index) {

            $(index).show();
        });
    }
    function focusInTxtGetControl() {
        $('#ControlsCode').focus();
    }
    $('.btn.btn-primary').click(function (e) {

        var valid = $('.btn.btn-primary').attr("disabled");
        if (valid == undefined) {
            debugger;
            var price = $('#Transshipment').val();
            var type = $("select option:selected").text();
            if (price != "" || type == "Money") {
                $.ajax({
                    url: "/PayBox/SaveSale",
                    datatype: "json",
                    type: "Get",
                    data: { "Sale.TypeOfPaymentID": $('#Sale_TypeOfPaymentID').val() },
                    success: function (data) {
                        if (data.SaleID > 0) {
                            ClearFields();

                        }
                    }
                });
            }
            else {
                $('#modal').modal('show');
                $('#txt').text("To complete a sale is necessary to make the first payment.");
            }

        }
        else {
            $('#modal').modal('show');
            $('#txt').text("To complete a sale is necessary to buy a product.");
        }

    });



    function ClearFields() {
        $.ajax({
            url: "/PayBox/FinishSale",
            type: "Get",
            datatype: "html",
            data: { "typeOfPayment": $('#Sale_TypeOfPaymentID').val() },
            success: function (data) {
                $('#modal').modal('show');
                $('#txt').text("Sale completed successfully.");

                $("#btn").click(function () {
                    $(location).attr('href', '/PayBox/PayBox')
                });

            }
        });
    }

    function GetFullValue() {
        $.ajax({

            url: "/PayBox/GetFullValue",
            datatype: "json",
            type: "Get"



        });
    }
    $('#ValuePaid').keypress(function (e) {
        if (e.which == 13) {

            e.preventDefault();
            $.ajax({

                url: "/PayBox/GetFullValue",
                datatype: "json",
                type: "Get",
                success: function (data) {

                    var fullPaid = $('#ValuePaid').val();
                    if (fullPaid >= data.Result) {
                        $('#Transshipment').val('$ ' + (fullPaid - data.Result).toFixed(2));
                        $('.btn.btn-primary').attr("disabled", false);
                    }
                    else {
                        $('#modal').modal('show');
                        $('#txt').text("The amount paid must be greater or equal to the purchase price.");
                        $('#Product_Code').val("");
                    }

                }



            });
        }
    });

    $('#Product_Code').keypress(function SaveProduct(e) {
        if (e.which == 13) {
            $('#Transshipment').val("");
            $('#ValuePaid').val("");
            var Code = $('#Product_Code').val();
            var quantity = $('#Quantity').val();
            $.ajax({

                url: "/Paybox/InsertProduct",
                type: "GET",
                datatype: "html",
                data: { "Product.Code": Code, Quantity: quantity },
                success: function (data) {
                    var ismodal = data;
                    if (ismodal.indexOf("modal") != -1) {
                        $('#modal').modal('show');
                        $('#txt').text("Product with that code not exists in this system.");
                        $('#Product_Code').val("");
                        $('.btn.btn-primary').attr("disabled", false);
                    }
                    else {
                        $('#Product_Code').val("");
                        $("#dTbl").empty();
                        $("#dTbl").show();
                        $("#dTbl").html(data);
                        focusInTxtGetProduct();
                    }

                }
            }
            )
        }

    });
    function focusInTxtGetProduct() {
        $('#Product_Code').focus();
    }

    $('#ControlsCode').keypress(function GetControlItens(e) {

        if (e.which == 13) {
            $('#Transshipment').val("");
            $('#ValuePaid').val("");
            var Code = $('#ControlsCode').val();
            $.ajax({
                url: "/Paybox/GetControlItens",
                type: "Get",
                datatype: "Html",
                data: { "ControlsCode": Code },
                success: function (data) {
                    focusInTxtGetControl();
                    var ismodal = data;
                    debugger;
                    $('#btnGetControl').attr("disabled", true);
                    if (ismodal.indexOf("modal") != -1) {
                        debugger;
                        $('#modal').modal('show');
                        $('#txt').text("Command with that code not exists in this system.");
                        focusInTxtGetControl();
                        $('#ControlsCode').val("");
                    }
                    else {
                        $("#dTbl").empty();
                        $("#dTbl").show();
                        $("#dTbl").html(data);
                        focusInTxtGetProduct();
                        $('#ControlsCode').val("");
                    }

                }

            });
        }


    }
);





</script>
