@model IEnumerable<Padaria.Repository.Entities.Sale>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullSale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullIncome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOfPayment.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullSale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullIncome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>

        </td>
    </tr>
}

</table>
