@model IEnumerable<Padaria.Repository.Entities.Sale>

@{
    ViewBag.Title = "List";
}
<br />
<hr />
<h2 style="text-align:center">Sale List</h2>


<table class="table table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullSale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullIncome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
      
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOfPayment.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullSale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullIncome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        
    </tr>
}
    <tr id="fullData">
        <th>
            
        </th>
        <th>
           
        </th>
        <th>
           
        </th>
        <th>
           
        </th>
        <th>
           s
        </th>
        
    </tr>
</table>

<script type="text/javascript">
    $('td').css('text-align', 'center');
    $('th').css('text-align', 'center');
    $('#fullData').css('background-color', 'yellow');
</script>