@model Padaria.Web.Models.SaleAndIncomeViewModel

@{
    ViewBag.Title = "List";
}
<br />
<hr />
<h2 style="text-align:center">Sale List</h2>
@Html.DisplayNameFor(c=>c.StartDate)
@Html.TextBoxFor(c => c.StartDate, new { @class = "date-picker form-controla",@width="20%" })

<br />

<table class="table">
    <tr>

        <th>
            Type Of Payment
            @*@Html.DisplayNameFor(model => model.Sale.Select(c=>c.TypeOfPayment))*@
        </th>
        <th>
            User
            @* @Html.DisplayNameFor(model => model.Sale.Select(c => c.User))*@
        </th>
        <th>
            Full Sale
            @*@Html.DisplayNameFor(model => model.Sale.Select(c => c.FullSale))*@
        </th>
        <th>
            Full Income
            @*@Html.DisplayNameFor(model => model.Sale.Select(c => c.FullIncome))*@
        </th>
        <th>
            Date
            @*@Html.DisplayNameFor(model => model.Sale.Select(c => c.Date))*@
        </th>

    </tr>

    @foreach (var item in Model.Sale)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfPayment.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullSale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullIncome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>

        </tr>
    }
    <tr id="fullData">
        <th>
            Full Sale $ @Model.Sale.Select(c => c.FullSale).Sum();
        </th>
        <th>

        </th>
        <th>

        </th>
        <th>

        </th>
        <th>
            Full Income $ @Model.Sale.Select(c => c.FullIncome).Sum();
        </th>

    </tr>
</table>

<script type="text/javascript">
    $('td').css('text-align', 'center');
    $('th').css('text-align', 'center');
    $('#fullData').css('background-color', 'yellow');

    $(function () {
        // This will make every element with the class "date-picker" into a DatePicker element
        $('.date-picker').datepicker();
    })
</script>

@section Scripts{

    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
    <link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />
}